*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
}
/* CSS variables
*/
:root{
    --Primary: #F283B6;
    --Secondary: #fdf0f4;
    --Background1:#fdf0f4;
    --ProdBackground:#ffffff;
    --PriceText: rgb(13, 187, 13);
    --Text1: black;
    --DropShadow: #9a8582;
}


body{
    height: 100%;
    /* background-image: linear-gradient(to bottom, #000, #52796F); */
    /* background-image: linear-gradient(to bottom, #1a1b1b, #000000); */
    flex-direction: grid;
    /* overflow-x: hidden; */
    background-color: var( --Background1);
}


/* Container */
.container{
    display: flex;
    width: 100%;
    justify-content: center;
}


/* Font colors and display */
.container a{
    color: var(--Text1);
    text-decoration: none;
}
.Contact_Us{
    max-width: 10%;
    width:10%;
    text-align: center;
    overflow: hidden;
}
.SocialBox{
    position: absolute;
    overflow: hidden;
    display: none;
    list-style: none;
    padding: 15px;
    margin: 0;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
}
.Content{
    display: grid;
    justify-items: center;
}
.Logo{
    display: grid;
    padding: 5%;
    width: 100vw;
    font-size: 50px;
    justify-self: center;
    justify-content: center;
    text-align: center;
}
.LogoImg{
    width: auto;
    height: 200px;
    filter: drop-shadow( 5px 5px 3px var(--DropShadow));
}

.description {
    background-image: linear-gradient(to bottom, #fdf0f4, #f782ad);
    display: block;
    padding: 5%;
        font-size: 30px;
    justify-self: center;
    justify-content: center;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    /* Add box-shadow */
    box-shadow: 0px 10px 10px -5px var(--DropShadow);
}
.breakLineTop{
    background-color: var(--Primary);
    opacity: .4;
    display: inline;
    padding: 20px;
    width: 100vw;
    filter: drop-shadow( 0px 0px 10px var(--DropShadow));
    justify-self: center;
    justify-content: center;
}
.breakLineBottom{
    background-color: var(--Primary);
    opacity: .4;
    display: inline;
    padding: 20px;
    width: 100vw;
    filter: drop-shadow( 0px 0px 10px var(--DropShadow));
    justify-self: center;
    justify-content: center;
}

.ArrangementType{
    display: inline-flex;
    padding: 30px;
    font-size: 30px;
    width: 50%;
    margin-top: 5%;
    min-height:150px;
    filter: drop-shadow( 0px 10px 10px var(--DropShadow));
    justify-self: center;
    justify-content: space-evenly;
}
.ArrangementType ul{
    list-style: none;
    display: inline-flex;
}
.ArrangementType li
{
    text-align: center;
    padding-left: 20px ;
    padding-right: 20px;
    border-width: 100px;
    border-color: var(--Text1);
}

.ProdContainer{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Contact_Us:hover .SocialBox {
    display: block;
    background-color: #70bfe461;
    animation: slideIn 0.3s ease-out;
}


/* For the products */
.Items1{
    display: flex;
    justify-content: center;
    min-width: 190%;
    width: 100%;    
}
.Items1 ul {
    display: inline-flex;
    justify-content: space-evenly;
    list-style: none;
}
.Overlay-Item{
    position: absolute;
    z-index: 999;
    display: flex;
    width: 0;
    height: 0;
    background-color: #70bfe461;
}
.Hide-Overlay{
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
}
.Prod {
    display: block;
    margin: 10px auto;
    text-align: start;
    width: 350px;
    height: 450px;
    border-radius: 22px;
    font-size: 20px;
    color: var(--Text1);
    filter: drop-shadow(0px 10px 10px var(--DropShadow));
    background-color: var(--ProdBackground);
    padding: 15px;
    margin: 10px;
    transition: transform 0.3s ease; /* Add transition to the default state */
}

.enlarged {
    transform: scale(1.5); /* Enlarge the element */
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    z-index: 999; /* Bring to front */
    margin: 0;
    margin-left: -175px; /* Adjust based on half of the width */
    margin-top: -225px; /* Adjust based on half of the height */
    transition: transform 0.5s ease; /* Add transition for smooth scaling */
}
.Overlay{
    width: 100px;
    height: 100px;
    background-color: red;
}




.Prod_Img{
    display: flex;
    justify-content: center;
    min-width: 60% ;
    min-height: 70% ;
}
.Prod_Price{
    color: var(--PriceText);
    padding-bottom:2%;
}
.Prod_Name{
    font-style: italic;
    font-weight: bolder;
    padding-bottom:2%;
}
.Highlighted {
    background-color: var(--Primary);
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    padding: 10px;
    width: 200px;
    border-width: 5px;
    border-radius: 15px;
    transition: background-color 0.5s, padding 0.5s, width 0.5s ,border-width 0.5s, border-radius 0.5s;
}
.hidden{
    width: 0;
    height: 0;
    opacity: 0;
}
.show {
    width: 0;
    height: 0;
    opacity: 100%;
}

/* animations */
@keyframes slideIn {
    from {
        /* opacity: 0; */
        height: 0;
        transform: translateY(-5px);
    }
    to {
        /* opacity: 1; */
        height: 110px;
        transform: translateY(0);
    }
}